.invoice-box table {
    width: 100%;
    line-height: inherit;
    text-align: left;
}

.invoice-box table td {
    padding: 5px;
    vertical-align: top;
}

.invoice-box table tr td:nth-child(2) {
    text-align: right;
}

.invoice-box table tr.top table td {
    padding-bottom: 20px;
}

.invoice-box table tr.top table td.title {
    font-size: 14px;
    line-height: 18px;
    color: #585252;
    width: 60%;
    text-align: justify;
    font-weight: 300;
}
    
.invoice-box table tr.information table td {
    padding-bottom: 2px;
}

.invoice-box table tr.heading td {
    font-size: 15px;
    background: #eee;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}
    
.invoice-box table tr.details td {
    padding-bottom: 8px;
    font-size: 13px;
    font-weight: 300;
}

.invoice-box table tr.item td{
    border-bottom: 1px solid #eee;
}
    
.invoice-box table tr.item.last td {
    border-bottom: none;
}

.invoice-box table tr.total td:nth-child(2) {
    border-top: 2px solid #eee;
    font-size: 11px;
    padding-top: 20px;
}

@page {
    size: A4;
    margin: 0;
    padding: 0;
}

@media print {
    .invoice-box {
        margin: 0;
        font-size: 12px;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        /*page-break-after: always;*/
    }
}

.text-center{
    text-align: center;
}
.region-text{
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold
}

.text-mute{
    font-size: 9px;
}

.text-13{
    font-size: 11px;
}

.bold{
    font-weight: bold;
}

.text-v{
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    font-weight: 300;
}

.v-title{
    font-size: 18px;
    line-height: 0px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.v-data{
    font-size: 11px;
    line-height: 20px;
    font-weight: 400;
}

.qr-code{
    width:80%;
    max-width:150px;
}

/** RTL **/
.rtl {
    direction: rtl;
    font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
}

.rtl table {
    text-align: right;
}

.rtl table tr td:nth-child(2) {
    text-align: left;
}

.qr_holder {
    overflow: hidden;
    width: 110px;
    height: 110px;
    display: inline-block;
}

.qr_image {
    position: relative;
    top: -20px;
    left: -20px;
}