.blueopacity{
    opacity: 0.3;
}
#mapContainer {
    height: 500px;
    width: 100%;
}

#weather-table-wrapper td, #weather-table-wrapper th {
    border: 1px solid #eee;
}

#weather-table-wrapper .table tr th:first-child {
    position: sticky;
    left: 0;
    z-index: 5;
    background: #fff;
    background-color: #efefef;
    /* border:1px solid #ccc */
    border-bottom: 1px solid #ccc;
}

#weather-table-wrapper td {
    min-width: 200px;
}

#weather-table-wrapper .table-responsive {
    scrollbar-width: thin;
}

#weather-table-wrapper thead tr th {
    position: sticky;
    top: 0;
    z-index: 5;
    background: #fff;
    background-color: #efefef;
}

#weather-table-wrapper thead tr th:first-child {
    border: none !important;
}

#weather-table-wrapper .table-responsive::-webkit-scrollbar {
    width: 5px;
    height: 5px
}

#weather-table-wrapper .table-responsive::-webkit-scrollbar-track {
    background-color: #eee;
}

#weather-table-wrapper .table-responsive::-webkit-scrollbar-thumb {
    background-color: #ccc
}

.mb-5 {
    margin-bottom: 6px;
}

.none {
    display: none !important;
}

