

.worko-tabs {
    margin: 20px;

}

.worko-tabs .state {
    position: absolute;
    left: -10000px;
}

.worko-tabs .flex-tabs {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
}

.worko-tabs .flex-tabs .tab {
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-height: 40px;
}

.worko-tabs .flex-tabs .panel {
    background-color: #fff;
    padding: 20px;
    min-height: 300px;
    display: none;
    width: 100%;
    flex-basis: auto;
}

.worko-tabs .tab {
    display: inline-block;
    padding: 10px;
    vertical-align: top;
    background-color: #eee;
    cursor: hand;
    cursor: pointer;
    border-left: 10px solid #ccc;
}

.worko-tabs .tab:hover {
    background-color: #fff;
}

#tab-one:checked~.tabs #tab-one-label,
#tab-two:checked~.tabs #tab-two-label,
#tab-three:checked~.tabs #tab-three-label,
#tab-four:checked~.tabs #tab-four-label {
    background-color: #fff;
    cursor: default;
    border-left-color: #36A6E3;
}

#tab-one:checked~.tabs #tab-one-panel,
#tab-two:checked~.tabs #tab-two-panel,
#tab-three:checked~.tabs #tab-three-panel,
#tab-four:checked~.tabs #tab-four-panel {
    display: block;
}

@media (max-width: 600px) {
    .flex-tabs {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }

    .flex-tabs .tab {
        background: #fff;
        border-bottom: 1px solid #ccc;
    }

    .flex-tabs .tab:last-of-type {
        border-bottom: none;
    }

    .flex-tabs #tab-one-label {
        -webkit-box-ordinal-group: 2;
        order: 1;
    }

    .flex-tabs #tab-two-label {
        -webkit-box-ordinal-group: 4;
        order: 3;
    }

    .flex-tabs #tab-three-label {
        -webkit-box-ordinal-group: 6;
        order: 5;
    }

    .flex-tabs #tab-four-label {
        -webkit-box-ordinal-group: 8;
        order: 7;
    }

    .flex-tabs #tab-one-panel {
        -webkit-box-ordinal-group: 3;
        order: 2;
    }

    .flex-tabs #tab-two-panel {
        -webkit-box-ordinal-group: 5;
        order: 4;
    }

    .flex-tabs #tab-three-panel {
        -webkit-box-ordinal-group: 7;
        order: 6;
    }

    .flex-tabs #tab-four-panel {
        -webkit-box-ordinal-group: 9;
        order: 8;
    }

    #tab-one:checked~.tabs #tab-one-label,
    #tab-two:checked~.tabs #tab-two-label,
    #tab-three:checked~.tabs #tab-three-label,
    #tab-four:checked~.tabs #tab-four-label {
        border-bottom: none;
    }

    #tab-one:checked~.tabs #tab-one-panel,
    #tab-two:checked~.tabs #tab-two-panel,
    #tab-three:checked~.tabs #tab-three-panel,
    #tab-four:checked~.tabs #tab-four-panel {
        border-bottom: 1px solid #ccc;
    }
}


/*TEXT-COLORS*/

.i-color-0061D9 {
    color: #0061D9 !important;
}

.no-shadow {
    box-shadow: none !important;
}

.no-border {
    border: none;
}

.bd-r-l-1 {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.w-icon {
    font-size: 35px;
    vertical-align: middle;
}

.header-right .dropdown-loggeduser .dropdown-item i {
    width: 16px;
    height: 16px;
    stroke-width: 2.5px;
    margin-right: 12px;
    color: #06072d;
}

.bg-0 {
    background: none;
    background-color: transparent;
}

.bg-day {
    background: linear-gradient(to top, #ffffff 20%, #75c6f3);
}

.bg-day-head {
    background: #75c6f3;
}

.pull-right {
    float: right !important;
}

.flot-chart svg {
    color: #ddd !important;
}

.bg-weather-panel {
    background: linear-gradient(to top, #ffffff 15%, #45c7fa 100%) !important;
    border-color: rgba(255, 255, 255, 0.03) !important;
}

.mgt-30 {
    margin-top: -30px !important;
}

.panel-right-tx {
    margin: 0;
    font-size: 11px;
    color: #575d78;
}

.mt-15 {
    margin-top: 15px;
}

.mt-45 {
    margin-top: 45px;
}

#paneProfile .form-settings {
    max-width: 100%;
}

.no-shadow {
    box-shadow: none !important;
}

.no-bottom-border {
    border-bottom: none;
}

.no-top-border {
    border-top: none;
}

.form-group {
    margin-right: 4px;
}

/* ckeditor */

.document-editor {
    border: 1px solid var(--ck-color-base-border);
    border-radius: var(--ck-border-radius);

    /* Set vertical boundaries for the document editor. */
    max-height: 450px;

    /* This element is a flex container for easier rendering. */
    display: flex;
    flex-flow: column nowrap;
}

.document-editor__toolbar {
    /* Make sure the toolbar container is always above the editable. */
    z-index: 1;

    /* Create the illusion of the toolbar floating over the editable. */
    box-shadow: 0 0 5px hsla( 0,0%,0%,.2 );

    /* Use the CKEditor CSS variables to keep the UI consistent. */
    border-bottom: 1px solid var(--ck-color-toolbar-border);
}

/* Adjust the look of the toolbar inside the container. */
.document-editor__toolbar .ck-toolbar {
    border: 0;
    border-radius: 0;
}

/* Make the editable container look like the inside of a native word processor application. */
.document-editor__editable-container {
    padding: calc( 2 * var(--ck-spacing-large) );
    background: var(--ck-color-base-foreground);

    /* Make it possible to scroll the "page" of the edited content. */
    overflow-y: scroll;
}

.document-editor__editable-container .ck-editor__editable {
    /* Set the dimensions of the "page". */
    width: 21cm;
    min-height: 29.7cm;

    /* Keep the "page" off the boundaries of the container. */
    padding: 1cm 1.5cm 1.25cm 2cm !important;

    border: 1px hsl( 0,0%,82.7% ) solid;
    border-radius: var(--ck-border-radius);
    background: white;

    /* The "page" should cast a slight shadow (3D illusion). */
    box-shadow: 0 0 5px hsla( 0,0%,0%,.1 );

    /* Center the "page". */
    margin: 0 auto;
}

/* Set the default font for the "page" of the content. */
.document-editor .ck-content,
.document-editor .ck-heading-dropdown .ck-list .ck-button__label {
    font: 16px/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ck.ck-toolbar {
    border: none !important;
}


.hidden {
    display: none !important;
}

strong {
    font-weight: bold;
}

body {
    background: #f8f9fa;
}


.normalized th, .normalized td {
    padding: 5px 15px !important;
    text-align: left;
}

.card-deal .table tbody>tr th, .card-deal .table tbody>tr td {
    text-align: left;
}

.card-deal .table thead>tr th, .card-deal .table thead>tr td {
    text-align: left;
}

div#datatable-buttons_info {
    padding: 8px;
}

.action-butons a {
    /* font-size: 18px; */
}

ul.dropdown-menu li {
    padding: 4px;
}

.action-butons .btn-group .dropdown-menu {
    min-width: 5rem;
}

/* .btn {
    margin-bottom: 4px;
} */

#create-user-form .form-group {
    margin-right: 0;
}
