<!DOCTYPE html>
<html lang="ru">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Meta -->
    <meta name="description" content="Единая система анализа и обработки гидрометеорологических наблюдений">
    <meta name="author" content="Метеоинфосистем">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon/favicon.ico">
    <title>Meteo|UZ</title>
    <!-- icons css -->
    <link href="../lib/fontawesome5/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/weather-icons.min.css">
    <link rel="stylesheet" href="../assets/css/ionicons.min.css">
    <!-- template css -->
    <link rel="stylesheet" href="../assets/css/meteo.css">
    <link rel="stylesheet" href="../assets/css/custom.css">
</head>

<body>
    <div class="signin-panel">
        <div style="display: contents;"><img src="http://10.190.4.114/elektron/assets/img/bg1.svg" class="svg-bg"></div>
        <div class="signin-sidebar">
            <div class="signin-sidebar-body">
                <div class="text-center">
                    <a href="#" class="text-success">
                        <span><img src="../assets/img/gidrometeo.svg" alt=""></span>
                    </a>
                    <div class="divider-text">Кабинет пользователя</div>
                </div>
                <div class="signin-form">
                    <div class="form-group">
                        <label>Логин</label>
                        <input type="email" class="form-control" placeholder="Введите свой логин" value="">
                    </div>
                    <div class="form-group">
                        <label class="d-flex justify-content-between">
                            <span>Пароль</span>
                        </label>
                        <input type="password" class="form-control" placeholder="Введите свой пароль" value="">
                    </div>
                    <div class="form-group d-flex mg-b-0">
                        <a href="index.html" class="btn btn-facebook btn-uppercase btn-block"><i class="fas fa-sign-out-alt"></i> Войти</a>
                    </div>
                </div>
                <p class="mg-t-auto mg-b-0 tx-sm tx-color-03 tx-center">Центр гидрометеорологической службы Республики Узбекистан</p>
            </div><!-- signin-sidebar-body -->
        </div><!-- signin-sidebar -->
    </div><!-- signin-panel -->
    <script src="../lib/jquery/jquery.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/feather-icons/feather.min.js"></script>
    <script src="../lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
</body>

</html>
