<!DOCTYPE html>
<html lang="ru">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Meta -->
    <meta name="description" content="Единая система анализа и обработки гидрометеорологических наблюдений">
    <meta name="author" content="Метеоинфосистем">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon/favicon.ico">
    <title>METEO|DC</title>
    <!-- icons css -->
    <link href="../lib/fontawesome5/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/weather-icons.min.css">
    <link rel="stylesheet" href="../assets/css/ionicons.min.css">
    <!-- vendor css -->
    <link href="../lib/select2/css/select2.min.css" rel="stylesheet">
    <!-- template css -->
    <link rel="stylesheet" href="../assets/css/meteo.css">
    <link rel="stylesheet" href="../assets/css/custom.css">
    <link rel="stylesheet" href="../assets/css/weather-panel.css">
    <link rel="stylesheet" href="../assets/css/meteo-weather.css">
    <link rel="stylesheet" href="../assets/css/easy-responsive-tabs.css">
</head>

<body onload="startTime()">
    <div class="container" style="box-shadow: 0px 0px 2px 2px rgba(60, 70, 83, 0.07);">
        <div class="header">
            <div class="header-left sidebar-logo">
                <img src="../assets/img/gidrometeo.svg"></a>
            </div><!-- header-left -->
            <div class="header-right">
            </div><!-- header-right -->
        </div><!-- header -->
        <div class="content-body mg-t-20">
            <div class="card card-hover no-shadow bd-0">
                <div class="card-body">
                    <div class="main">
                        <select class="custom-select custom-select-sm tx-12 mg-b-10">
                            <option value="1703">Андижанская область</option>
                            <option value="1706">Бухарская область</option>
                            <option value="1708">Джизакская область</option>
                            <option value="1710">Кашкадарьинская область</option>
                            <option value="1712">Навоийская область</option>
                            <option value="1714">Наманганская область</option>
                            <option value="1718">Самаркандская область</option>
                            <option value="1722">Сурхандарьинская область</option>
                            <option value="1724">Сырдарьинская область</option>
                            <option value="1726" selected="">г. Ташкент</option>
                            <option value="1727">Ташкентская область</option>
                            <option value="1730">Ферганская область</option>
                            <option value="1733">Хорезмская область</option>
                            <option value="1735">Республика Каракалпакстан</option>
                            <option value="1">Ташкенткая область</option>
                        </select>
                        <div class="w3_agile_main_grids">
                            <div class="w3layouts_main_grid">
                                <div class="w3layouts_main_grid_left">
                                    <h2>Ташкент</h2>
                                    <p>Дождь</p>
                                    <h3>Сейчас</h3>
                                    <h4>10<span>°с</span></h4>
                                </div>
                                <div class="w3layouts_main_grid_right">
                                    <div id="w3time"></div>
                                    <div class="w3layouts_date_year">
                                        <!-- date -->
                                        <script type="text/javascript">
                                        var mydate = new Date()
                                        var year = mydate.getYear()
                                        if (year < 1000)
                                            year += 1900
                                        var day = mydate.getDay()
                                        var month = mydate.getMonth()
                                        var daym = mydate.getDate()
                                        if (daym < 10)
                                            daym = "0" + daym
                                        var dayarray = new Array("Воскресенье", "Понедельник", "Вторник", "Среда", "Четверг", "Пятница", "Суббота")
                                        var montharray = new Array("Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь")
                                        document.write("" + dayarray[day] + ", " + montharray[month] + " " + daym + ", " + year + "")

                                        </script>
                                        <!-- //date -->
                                    </div>
                                </div>
                                <div class="clear"> </div>
                            </div>
                            <div class="agileits_w3layouts_main_grid">
                                <div class="agile_main_grid_left">
                                    <div class="wthree_main_grid_left_grid">
                                        <div class="w3ls_main_grid_left_grid1">
                                            <div class="w3l_main_grid_left_grid1_left">
                                                <h3>МЕСТАМИ СОЛНЕЧНО</h3>
                                                <p>3 <span>%</span></p>
                                            </div>
                                            <div class="w3l_main_grid_left_grid1_right">
                                                <canvas id="partly-cloudy-day" width="45" height="45"></canvas>
                                            </div>
                                            <div class="clear"> </div>
                                        </div>
                                        <div class="w3ls_main_grid_left_grid1">
                                            <div class="w3l_main_grid_left_grid1_left">
                                                <h3>Осадка</h3>
                                                <p>38 <span>%</span></p>
                                            </div>
                                            <div class="w3l_main_grid_left_grid1_right">
                                                <canvas id="cloudy" width="45" height="45"></canvas>
                                            </div>
                                            <div class="clear"> </div>
                                        </div>
                                        <div class="w3ls_main_grid_left_grid1">
                                            <div class="w3l_main_grid_left_grid1_left">
                                                <h3>Ветер</h3>
                                                <p>14 <span>Km/h</span></p>
                                            </div>
                                            <div class="w3l_main_grid_left_grid1_right">
                                                <canvas id="wind" width="45" height="45"></canvas>
                                            </div>
                                            <div class="clear"> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="w3_agileits_main_grid_right">
                                    <div class="agileinfo_main_grid_right_grid">
                                        <div id="parentHorizontalTab">
                                            <ul class="resp-tabs-list hor_1">
                                                <li>Сегодня</li>
                                                <li>Неделя</li>
                                                <li>Месяц</li>
                                            </ul>
                                            <div class="resp-tabs-container hor_1">
                                                <div class="w3_agileits_tabs">
                                                    <div class="w3_main_grid_right_grid1">
                                                        <div class="w3_main_grid_right_grid1_left">
                                                            <p>02:00</p>
                                                        </div>
                                                        <div class="w3_main_grid_right_grid1_right">
                                                            <p>15&deg;C<span>Cloudy</span></p>
                                                        </div>
                                                        <div class="clear"> </div>
                                                    </div>
                                                    <div class="w3_main_grid_right_grid1">
                                                        <div class="w3_main_grid_right_grid1_left">
                                                            <p>05:00</p>
                                                        </div>
                                                        <div class="w3_main_grid_right_grid1_right">
                                                            <p>16&deg;C<span>Clear</span></p>
                                                        </div>
                                                        <div class="clear"> </div>
                                                    </div>
                                                    <div class="w3_main_grid_right_grid1">
                                                        <div class="w3_main_grid_right_grid1_left">
                                                            <p>08:00</p>
                                                        </div>
                                                        <div class="w3_main_grid_right_grid1_right">
                                                            <p>18&deg;C<span>Cear</span></p>
                                                        </div>
                                                        <div class="clear"> </div>
                                                    </div>
                                                    <div class="w3_main_grid_right_grid1">
                                                        <div class="w3_main_grid_right_grid1_left">
                                                            <p>11:00</p>
                                                        </div>
                                                        <div class="w3_main_grid_right_grid1_right">
                                                            <p>12&deg;C<span>Partly Cloudy</span></p>
                                                        </div>
                                                        <div class="clear"> </div>
                                                    </div>
                                                </div>
                                                <div class="w3_agileits_tabs">
                                                    <div class="w3_main_grid_right_grid1">
                                                        <div class="w3_main_grid_right_grid1_left">
                                                            <p>Monday</p>
                                                        </div>
                                                        <div class="w3_main_grid_right_grid1_right">
                                                            <p>14&deg;C<span>Clear</span></p>
                                                        </div>
                                                        <div class="clear"> </div>
                                                    </div>
                                                    <div class="w3_main_grid_right_grid1">
                                                        <div class="w3_main_grid_right_grid1_left">
                                                            <p>Tuesday</p>
                                                        </div>
                                                        <div class="w3_main_grid_right_grid1_right">
                                                            <p>16&deg;C<span>Cloudy</span></p>
                                                        </div>
                                                        <div class="clear"> </div>
                                                    </div>
                                                    <div class="w3_main_grid_right_grid1">
                                                        <div class="w3_main_grid_right_grid1_left">
                                                            <p>Wednesday</p>
                                                        </div>
                                                        <div class="w3_main_grid_right_grid1_right">
                                                            <p>11&deg;C<span>Rainy</span></p>
                                                        </div>
                                                        <div class="clear"> </div>
                                                    </div>
                                                    <div class="w3_main_grid_right_grid1">
                                                        <div class="w3_main_grid_right_grid1_left">
                                                            <p>Thursday</p>
                                                        </div>
                                                        <div class="w3_main_grid_right_grid1_right">
                                                            <p>18&deg;C<span>Sunny</span></p>
                                                        </div>
                                                        <div class="clear"> </div>
                                                    </div>
                                                </div>
                                                <div class="w3_agileits_tabs">
                                                    <div class="w3_main_grid_right_grid1">
                                                        <div class="w3_main_grid_right_grid1_left">
                                                            <p>January</p>
                                                        </div>
                                                        <div class="w3_main_grid_right_grid1_right">
                                                            <p>18&deg;C<span>Cloudy</span></p>
                                                        </div>
                                                        <div class="clear"> </div>
                                                    </div>
                                                    <div class="w3_main_grid_right_grid1">
                                                        <div class="w3_main_grid_right_grid1_left">
                                                            <p>February</p>
                                                        </div>
                                                        <div class="w3_main_grid_right_grid1_right">
                                                            <p>14&deg;C<span>Clear</span></p>
                                                        </div>
                                                        <div class="clear"> </div>
                                                    </div>
                                                    <div class="w3_main_grid_right_grid1">
                                                        <div class="w3_main_grid_right_grid1_left">
                                                            <p>March</p>
                                                        </div>
                                                        <div class="w3_main_grid_right_grid1_right">
                                                            <p>18&deg;C<span>Cear</span></p>
                                                        </div>
                                                        <div class="clear"> </div>
                                                    </div>
                                                    <div class="w3_main_grid_right_grid1">
                                                        <div class="w3_main_grid_right_grid1_left">
                                                            <p>April</p>
                                                        </div>
                                                        <div class="w3_main_grid_right_grid1_right">
                                                            <p>12&deg;C<span>Partly Cloudy</span></p>
                                                        </div>
                                                        <div class="clear"> </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- card -->
        </div><!-- content-body -->
    </div><!-- content -->
    <script src="../lib/jquery/jquery.min.js"></script>
    <script src="../lib/jqueryui/jquery-ui.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/feather-icons/feather.min.js"></script>
    <script src="../lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../lib/js-cookie/js.cookie.js"></script>
    <script src="../lib/select2/js/select2.min.js"></script>
    <script src="../assets/js/skycons.js"></script>
    <script src="../assets/js/easyResponsiveTabs.js"></script>
    <!-- sky-icons -->
    <script>
    var icons = new Skycons({ "color": "#36a6e5" }),
        list = [
            "sleet"
        ],
        i;

    for (i = list.length; i--;)
        icons.set(list[i], list[i]);

    icons.play();

    </script>
    <script>
    var icons = new Skycons({ "color": "#36a6e5" }),
        list = [
            "clear-night", "partly-cloudy-day",
            "partly-cloudy-night", "cloudy", "rain", "clear-day", "snow", "wind",
            "fog"
        ],
        i;

    for (i = list.length; i--;)
        icons.set(list[i], list[i]);

    icons.play();

    </script>
    <!-- //sky-icons -->
    <!-- tabs -->
    <script type="text/javascript">
    $(document).ready(function() {
        //Horizontal Tab
        $('#parentHorizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true, // 100% fit in a container
            tabidentify: 'hor_1', // The tab groups identifier
            activate: function(event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#nested-tabInfo');
                var $name = $('span', $info);
                $name.text($tab.text());
                $info.show();
            }
        });
    });

    </script>
    <!-- //tabs -->
    <!-- time -->
    <script>
    function startTime() {
        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('w3time').innerHTML =
            h + ":" + m + ":" + s;
        var t = setTimeout(startTime, 500);
    }

    function checkTime(i) {
        if (i < 10) { i = "0" + i }; // add zero in front of numbers < 10
        return i;
    }

    </script>
    <!-- //time -->
</body>

</html>
